.loading-screen {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;

    .logo {
        width: 200px;
        height: 200px;
        background-image: url(/src/scss/assets/logo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .spinner {
        width: 220px;
        height: 220px;
        border: 10px solid transparent;
        border-radius: 50%;
        border-top: 10px solid $line-color;
        -webkit-animation: spin 1s linear infinite; /* Safari */
        animation: spin 1s linear infinite;
        position: absolute;
    }
}